{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>WebSpace Navigator </title>
    <meta name="description" content="WebSpace Navigator is a test interface for the WebSpace service.">
    <meta name="author" content="Manuel Zapata">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="stylesheet" href="{% static "webfront/css/style.css" %}?v=0">
    <link rel="stylesheet" href="{% static "webfront/css/layout.css" %}?v=0">
    
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    
    <script type="text/javascript" src="{% static "webfront/js/libs/modernizr.js" %}?v=0"></script>
  </head>
  <body>
    <div id="content"></div>

    <script type="text/javascript" src="{% static "webfront/js/libs/jquery.js" %}?v=0"></script>

    <!-- Backbone -->
    <script type="text/javascript" src="{% static "webfront/js/libs/underscore.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/libs/json2.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/libs/backbone.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/libs/backbone-relational.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/libs/backbone-tastypie.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/libs/backbone-tastypie-resname.js" %}?v=0"></script>
    
    <script type="text/javascript" src="{% url templates %}"></script>
    
    <script type="text/javascript" src="{% static "webfront/js/init.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/models.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/collections.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/views.js" %}?v=0"></script>
    <script type="text/javascript" src="{% static "webfront/js/routers.js" %}?v=0"></script>

    <script type="text/javascript" src="{% static "webfront/js/load.js" %}?v=0"></script>

    <!-- google analytics -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
